[Unit]
Description=Monster Crypto Bot
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/crypto_bot
ExecStart=/home/pi/crypto_bot/venv/bin/python bot.py
Restart=always
RestartSec=15
StandardOutput=append:/home/pi/crypto_bot/logs/bot_service.log
StandardError=append:/home/pi/crypto_bot/logs/bot_service.log

[Install]
WantedBy=multi-user.target
